# Suppress: EC102 EC103
root = true

# a. without this .editorconfig
# b. with this .editorconfig
#
# Build fails in step 3, but not in step 5.
#     dotnet_diagnostic.CS0219.severity = warning
# takes precedence over /warnaserror+ passed to csc.exe from -p:TreatWarningsAsErrors=true

### Core settings ###

# Don't use tabs for indentation.
[*]
indent_style = space
# (Please don't specify an indent_size here; that has too many unintended consequences.)

# Code files
[*.cs]
indent_size = 4
insert_final_newline = true
charset = utf-8-bom

# XML project files
[*.{csproj,vbproj,vcxproj,vcxproj.filters,proj,projitems,shproj}]
indent_size = 2

# XML config files
[*.{props,targets,ruleset,config,nuspec,resx,vsixmanifest,vsct}]
indent_size = 2

# JSON files
[*.json]
indent_size = 2

# Powershell files
[*.ps1]
indent_size = 2

# Shell script files
[*.sh]
end_of_line = lf
indent_size = 2


[*.cs]
### Dotnet code style ###

### Format rules

# Sort System.* using directives alphabetically, and place them before other using directives.
dotnet_sort_system_directives_first = true:warning
# Do not place a blank line between using directive groups.
dotnet_separate_import_directive_groups = false:warning

### CSharp code style ###


### Compiler warnings ###

dotnet_diagnostic.CS0219.severity = warning

### CodeStyle Severity ###

# IDE0005: Using directive is unnecessary.
dotnet_diagnostic.IDE0005.severity = none

# All formatting options have IDE0055 rule id and title Fix formatting.
# IDE0055: Fix formatting
dotnet_diagnostic.IDE0055.severity = warning

; TODO: You can specify the following entries to escalate all code style rules in
;       the package to default to a warning and that should enable all of them for build.
# Default severity for all IDE code style rules with category 'Style'
;dotnet_analyzer_diagnostic.category-Style.severity = warning

# Default severity for all IDE code quality rules with category 'CodeQuality'
;dotnet_analyzer_diagnostic.category-CodeQuality.severity = warning
; TODO: You can then selectively downgrade specific rules to a lower severity (none/silent/suggestion) as per your preference.
; TODO: Every IDExxx rule or CAxxxx rule must be explicitly configured below to have severity none, silent or suggestion.

;dotnet_diagnostic.IDE0059.severity = warning
;dotnet_diagnostic.IDE0060.severity = warning
